
body {
    background-color: black;
    font-size:6pt;
    color: #fff;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;    
    justify-content: center;
}

.light-table {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;    
    justify-content: center; 
}


a {
    color: #00eeee;
}

strong {
    color: #ffcc00;
}

h2 {
    font-size: 14pt;
    line-height: 16pt;
    text-transform: uppercase;
}


h3 {
    font-size: 12pt;
    line-height: 14pt;
}



p, li, i {
    font-size: 12pt;
    line-height: 14pt;
}


ul {
    padding-top: 10px;
    list-style: none;
    margin: 0px;
    padding-left: 5px;
    font-size: 12pt;
    line-height: 14pt;
}


.alt-1 {
color: #ffcc00; 
}


/* ================================= light table (lt) ================================= */

.container-border{
    border: 2px solid #6fc0ba;
    border-radius: 5px;
    box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
}


#lt-container-outside{
    position:absolute;
    width: 2400px;
    height: 1200px;
    z-index: 10;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#lt-container-inside {
    position:absolute;
    width: 97%;
    height: 98%;
    z-index: 20;
    display: flex;
}

/* ================================= Columns & Content classes ================================= */
.lt-header{
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    color: #fff;
    padding: 2px 0;
    visibility: visible;
    width: 93%;
    font-size: 10pt;

}

.lt-header-left-section {
    float: left;
    width: 45%;
    background-color: #000;
    margin-left: -5px;
    padding: 0 8px;
}

.lt-header-right-section {
    float: right;
    width: 45%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}



.content-container {
    border: 2px solid #6fc0ba;
    border-radius: 2px;
    padding: 3px;
    width: 93%;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid #1b2f2d;
    height: calc( 100% - 3px );
    
}

.content-container h2 {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #1b2f2d;
    padding: 2px 4px;
    font-weight: bold;
}

.content-container h2 em{
    font-style: normal;
    float: right;
    font-size: .8em;
    padding-top: 1px;
    color: #00eeee;

}

.content-container p, h3, i {
    margin: 10px 0 5px;
    padding: 4px 6px;

}



/* ================================= Left & right Columns ================================= */
#lt-left-column{
    position: relative;
    width: 50%;
    display: flex;           
    flex-direction: column;  
    align-items: center; 
    padding-left: 1%;

}
#lt-right-column{
    position: relative;
    width: 50%;
    display: flex;           
    flex-direction: column;  
    align-items: center; 
    padding-right: 1%;
}


#lt-header-top-left {
    position: relative;
    top: 30px;
}
#lt-header-top-right {
    position: relative;
    top: 30px;
}

#lt-header-bottom-left {
    position: absolute;
    bottom: 30px;
}
#lt-header-bottom-right {
    position: absolute;
    bottom:  30px;

}

#lt-header-bottom-left .lt-header-left-section{
    width: 45%
}
#lt-header-bottom-left .lt-header-right-section{
    width: 45%
}

#retro-clock {
  font-size: 0.8rem;
}

#retro-date {
  font-size: 0.8rem;
}

#status-dot {
  width: 8px;
  height: 8px;
  background-color: #00ffcc; 
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 5px #00ffcc, 0 0 5px #00ffcc;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.9; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: 0.9; }
}




/* ================================= Bottom small boxes left ================================ */

#lt-bottom-boxes-1 {
    margin-top: 4px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 5px;
    width: 30px;

}

#lt-bottom-boxes-2 {
    margin-top: 4px;
    margin-right: 10px;
    float: right;
    border: 1px solid #1b2f2d;
    border-radius: 2px;
    height: 5px;
    width: 30px;
}

#lt-bottom-boxes-3 {
    margin-top: 4px;
    margin-right: 10px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 5px;
    width: 30px;
}

.bts {
    transition: all 0.2s ease;  
    cursor: pointer; 
}

.btn:hover {
    background-color: #ffcc002b;
    transform: scale(1.1);      /* optional: slightly enlarge */
}


/* ================================= README ================================= */
#lt-readme {
    position: relative;
    overflow: visible;
    top: 60px; 
    height: 50%;
}

#lt-readme .content {
    overflow: auto;
}


/* ================================= lt-input ================================= */

#game-of-life {
    position: relative;
    top: 100px;
    height: calc(50% - 100px - 60px - 60px);
    font-size: 10pt;
}

#gol-canvas {
    width: calc( 100% - 2px);
    height: calc(100% - 2px);
    display: block;
    background-color: #000;

}


/* ================================= globalization ================================= */

#lt-globalization {
    position: relative;
    top: 59px;
    height: calc(100% - 170px);
}

#lt-globalization .content {
    overflow: auto;
}


/* ================================= Folder ================================= */

.folder-container {
    margin: 0px 18px 10px;
    float: left;
    cursor: pointer;
}

.folder-label{
    background-color: #000;
    color: #fff;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 1px;
    width: 70px;
    text-transform: uppercase;
    border-radius: 2px;
}

.folder-container:hover .folder-label{
    background-color: #feb400;
    color: #000;
}

.folder-label.selected{
    background-color: #feb400;
    color: #000;
}

.selected-folder {
    background-color: #feb400;
    color: #000;
}

.folder-small {
    background-image: url(./images/encom_folder_small.png);
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 49px;
}



/*=================================================================================*/



@media (min-width: 1600) {
    #lt-container-outside{
        width: 1600px;
        height: 700px;
    }
}


@media (min-width: 1800px) {
    #lt-container-outside{
        width: 1800px;
        height: 900px;
    }

}

@media (min-width: 2400px) {
    #lt-container-outside {
        width: 2400px;
        height: 1200px;
    }

}