body {
    background-color: black;
    font-size:6pt;
    color: #fff;


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

a {
    color: #00eeee;
}

strong {
    color: #ffcc00;

}

h2, p, li {
    font-size: 8pt;
    line-height: 12pt;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 5px;
}




/* ================================= light table (lt) ================================= */

.container-border{
    border: 2px solid #6fc0ba;
    border-radius: 5px;
    box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
}


#lt-container-outside{
    position:relative;
    width: 95vw;
    height: 97vh;
    z-index: 10;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#lt-container-inside {
    position:relative;
    width: 97%;
    height: 98%;
    z-index: 20;
    display: flex;
}

/* ================================= Columns & Content classes ================================= */
.lt-header{
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    color: #fff;
    padding: 2px 0;
    visibility: visible;
    width: 90%;

}

.lt-header-left-section {
    float: left;
    width: 80%;
    background-color: #000;
    margin-left: -5px;
    padding: 0 8px;
}

.lt-header-right-section {
    float: right;
    width: 10%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}



.content-container {
    border: 2px solid #6fc0ba;
    border-radius: 2px;
    padding: 3px;
    width: 90%;
}

.content {
    border: 1px solid #1b2f2d;
    height: 99%;
}

.content-container h2 {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #1b2f2d;
    padding: 2px 4px;
    font-weight: bold;
}

.content-container h2 em{
    font-style: normal;
    float: right;
    font-size: .8em;
    padding-top: 1px;
    color: #00eeee;

}

.content-container p {
    margin: 2px 0 0;
    padding: 4px 6px;

}



/* ================================= Left & right Columns ================================= */
#lt-left-column{
    position: relative;
    width: 50%;
    
    display: flex;           
    flex-direction: column;  
    align-items: center; 

}
#lt-right-column{
    position: relative;
    width: 50%;

    display: flex;           
    flex-direction: column;  
    align-items: center; 
}


#lt-header-top-left {
    position: relative;
    top: 30px;
}
#lt-header-top-right {
    position: relative;
    top: 30px;
}

#lt-header-bottom-left {
    position: absolute;
    bottom: 30px;
}
#lt-header-bottom-right {
    position: absolute;
    bottom:  30px;

}

#lt-header-bottom-left .lt-header-left-section{
    width: 45%
}
#lt-header-bottom-left .lt-header-right-section{
    width: 45%
}





/* ================================= Bottom small boxes left ================================ */

#lt-bottom-boxes-1 {
    margin-top: 1px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 4px;
    width: 35px;
}

#lt-bottom-boxes-2 {
    margin-top: 1px;
    margin-right: 6px;
    float: right;
    border: 1px solid #1b2f2d;
    border-radius: 2px;
    height: 4px;
    width: 25px;
}

#lt-bottom-boxes-3 {
    margin-top: 1px;
    margin-right: 4px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 4px;
    width: 30px;
}






/* ================================= README ================================= */
#lt-readme {
    position: relative;
    overflow: visible;
    margin-top: 60px; 
    height: calc(50% - 60px); 
}

#lt-readme .content {
    overflow: visible;
}


/* ================================= bandwidth ================================= */
#lt-bandwidth {
    position: relative;
    margin-top: 50px; 
    height: calc(38% - 50px); ;

}




/* ================================= globalization ================================= */

#lt-globalization {
    position: relative;
    top: 60px;
    height: 50%;

}

#lt-globalization .content {
    overflow: hidden;
}


/* ================================= Folder ================================= */

.folder-container {
    margin: 8px 18px 0;
    float: left;
    cursor: pointer;
}

.folder-label{
    background-color: #000;
    color: #fff;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 1px;
    width: 70px;
    text-transform: uppercase;
    border-radius: 2px;
}

.folder-container:hover .folder-label{
    background-color: #feb400;
    color: #000;
}

.folder-label.selected{
    background-color: #feb400;
    color: #000;
}

.selected-folder {
    background-color: #feb400;
    color: #000;
}

.folder-small {
    background-image: url(./images/encom_folder_small.png);
    padding: 0px;
    margin: 0px;
    width:80px;
    height: 49px;
}












/* ================================= MEDIA ================================= */

@media (min-width: 1600px) { 
    body {
    background-color: black;
    font-size:6pt;
    color: #fff;


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


    }

    a {
        color: #00eeee;
    }

    strong {
        color: #ffcc00;

    }

    h2, p, li {
        font-size: 8pt;
        line-height: 12pt;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding-left: 5px;
    }




    /* ================================= light table (lt) ================================= */

    .container-border{
        border: 2px solid #6fc0ba;
        border-radius: 5px;
        box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
    }


    #lt-container-outside{
        position:relative;
        width: 95vw;
        height: 97vh;
        z-index: 10;
        
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #lt-container-inside {
        position:relative;
        width: 97%;
        height: 98%;
        z-index: 20;
        display: flex;
    }

    /* ================================= Columns & Content classes ================================= */
    .lt-header{
        border-top: 1px solid #1d2c33;
        border-bottom: 1px solid #1d2c33;
        color: #fff;
        padding: 2px 0;
        visibility: visible;
        width: 90%;

    }

    .lt-header-left-section {
        float: left;
        width: 80%;
        background-color: #000;
        margin-left: -5px;
        padding: 0 8px;
    }

    .lt-header-right-section {
        float: right;
        width: 10%;
        background-color: #000;
        text-align: right;
        margin-right: -5px;
        padding: 0 8px;
    }



    .content-container {
        border: 2px solid #6fc0ba;
        border-radius: 2px;
        padding: 3px;
        width: 90%;
    }

    .content {
        border: 1px solid #1b2f2d;
        height: 99%;
    }

    .content-container h2 {
        color: #fff;
        margin: 0;
        border-bottom: 1px solid #1b2f2d;
        padding: 2px 4px;
        font-weight: bold;
    }

    .content-container h2 em{
        font-style: normal;
        float: right;
        font-size: .8em;
        padding-top: 1px;
        color: #00eeee;

    }

    .content-container p {
        margin: 2px 0 0;
        padding: 4px 6px;

    }


    /* ================================= Left & right Columns ================================= */
    #lt-left-column{
        position: relative;
        width: 50%;
        
        display: flex;           
        flex-direction: column;  
        align-items: center; 

    }
    #lt-right-column{
        position: relative;
        width: 50%;

        display: flex;           
        flex-direction: column;  
        align-items: center; 
    }


    #lt-header-top-left {
        position: relative;
        top: 30px;
    }
    #lt-header-top-right {
        position: relative;
        top: 30px;
    }

    #lt-header-bottom-left {
        position: absolute;
        bottom: 30px;
    }
    #lt-header-bottom-right {
        position: absolute;
        bottom:  30px;

    }

    #lt-header-bottom-left .lt-header-left-section{
        width: 45%
    }
    #lt-header-bottom-left .lt-header-right-section{
        width: 45%
    }


    /* ================================= Bottom small boxes left ================================ */

    #lt-bottom-boxes-1 {
        margin-top: 1px;
        float: right;
        border: 1px solid #6fc0ba;
        border-radius: 2px;
        height: 4px;
        width: 35px;
    }

    #lt-bottom-boxes-2 {
        margin-top: 1px;
        margin-right: 6px;
        float: right;
        border: 1px solid #1b2f2d;
        border-radius: 2px;
        height: 4px;
        width: 25px;
    }

    #lt-bottom-boxes-3 {
        margin-top: 1px;
        margin-right: 4px;
        float: right;
        border: 1px solid #6fc0ba;
        border-radius: 2px;
        height: 4px;
        width: 30px;
    }


    /* ================================= README ================================= */
    #lt-readme {
        position: relative;
        overflow: visible;
        margin-top: 60px; 
        height: calc(50% - 60px); 
    }

    #lt-readme .content {
        overflow: visible;
    }


    /* ================================= bandwidth ================================= */
    #lt-bandwidth {
        position: relative;
        margin-top: 50px; 
        height: calc(38% - 50px); ;

    }

    /* ================================= globalization ================================= */

    #lt-globalization {
        position: relative;
        top: 60px;
        height: 50%;
    }

    #lt-globalization .content {
        overflow: hidden;
    }
}